{
  "semi": false,
  "tailwindFunctions": ["clsx", "tw"],
  "tailwindStylesheet": "./src/styles/global.css",
  "tailwindConfig": "./tailwind.config.js",
  "plugins": ["prettier-plugin-tailwindcss"]
}
